
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgba(112, 110, 110, 0.55);
  text-align: center;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}